.option{
    background-color: #3c0e70;
    border-radius: .5em;
    padding: 1rem;
    cursor: pointer;
    opacity: .8;
    transition: .4s;
    margin-bottom: 1em;
}

.option:hover {
    opacity: 1;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: #0bfc03;
    font-weight: bold;
}

.wrong {
    background-color: #3c0e70;
    opacity: 0.4;
    
}