#question {
    text-align: center;
    width: 500px;
    background-color: #ff379b;
    border-radius: 1rem;
    padding: 2rem;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

#question h2{
    margin-bottom: 2rem;
    color: #fff;
}

#question p {
    margin-bottom: 1rem;
}

#question button{
    border: 2px solid black;
}