*{
  margin: 0;
  padding: 0;
  font-family: "Luminari";
  color: black;
}

body, html {
  min-height: 100vh;
  height: 100%;
  background-color: #1c1c1c;
}

img {
  max-width: 100%;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  color: black;
  background: linear-gradient(
    90deg,
    rgb(255, 179, 255) 0%,
    rgb(255, 55, 155) 100%
  );
  border-radius: 3rem;
  border: none;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgb(255, 55, 155) 0%,
    rgb(255, 179, 255) 100% 
  );
}

